body{
	font-family: 'Josefin Sans', sans-serif;
	background:url(../img/txtbg.jpg) no-repeat 0% 0% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow:visible;
}
form {
    position: absolute;
    top: 8%;
    left: 32%;
    width: 36%;
    text-align: center;
    background-color: rgba(170,170,170,0.6);
    height: 107%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    margin-bottom: 3%;
}
label {
    position: relative;
    width: 80%;
    display: block;
    text-align: left;
    left: 10%;
    font-size: 130%;
    color: #222;
    font-weight: 600;
    height: 4%;
}
input {
  width: 80%;
    height: 5%;
    border-radius: 4px;
    margin-bottom: 1.5%;
    border: none;
    font-size: 110%;
    padding: 0% 0 0 2%;
	    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}
.heading {
    margin: 6% 0% 2% 0%;
    font-family: 'maleficent';
    font-size: 280%;
    letter-spacing: 2px;
    color: #222;
    height: 6%;
}
body::-webkit-scrollbar
{
	display: none;
}
body::-moz-scrollbar
{
	display: none;
}
body::-o-scrollbar
{
	display: none;
}
body::scrollbar
{
	display: none;
}
#sbutton{
	width: 30%;
    padding: 1% 0%;
    margin: 2% 0%;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    font-weight: 600;
    height: 7%;
    cursor: pointer;
}
#bot {
    position: relative;
    left: 15%;
    margin: 2% 0%;
    height: 5%;
}
#bot a{
	font-size: 114%;
    color: #333;
    text-decoration: none;
    background: #aaa;
    padding: 1%;
    border-radius: 2px;
    margin-left: 1%;
     box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
	
}