span {
	text-align: center;
	background-color: transparent;
	border: none;
	font: 25px Amatic SC;
}
h2,p{
		text-align: center;
}
td {
    border: 0px transparent !important;
}
.table-responsive {
    border: none transparent !important;
}
img{
      box-shadow: 0 0 45px rgba(0,0,0,0.7);
  }
