#about_nav1{

   left: -10%;
   padding-right: 40px;
  
}
#events_nav1{

   left: -10%;
   padding-right: 40px;
   padding-left: 10px;
}
#sponsors_nav1{

   left: -10%;
   padding-right: 40px;
   padding-left: 40px;

}
#team_nav1{

     left: -10%;
   
   padding-left: 50px;
    
}

.scroll{
    font-family: chelsea;
    font-weight: normal;
    font-style: normal;
    color:#994716;
    text-decoration:none;
    border:none;
    letter-spacing: -2px;
}
#logo{

    width: 250px;
    height: 100px;
}

.scroll:hover {
    color: #dc9d1f;
    text-decoration:none
}

.left1{
    float:left;
    margin-left: 0%;
    letter-spacing:-5px;
    margin-top: 2%;
    left: 0%;


}

.left{
    float:left;
    margin-left: 0%;
    letter-spacing:-5px;
    margin-top: 2%;
    left: 0%;


}
#about_nav{

   left: -10%;
   padding-right: 40px;
  
}
#events_nav{

   left: -10%;
   padding-right: 40px;
   padding-left: 10px;
}
#sponsors_nav{

   left: -10%;
   padding-right: 40px;
   padding-left: 40px;

}
#team_nav{

     left: -10%;
   
   padding-left: 50px;
    
}
.center{
    position: absolute;
    margin-top: -20px;
    margin-left: 750px;
}
.center1{
    position: absolute;
    margin-top: -20px;
    margin-left: 430px;
    padding-right: 10%;
}
.center2{
    position: absolute;
    margin-top: -20px;
    margin-left: 850px;
}

.right{
    text-align: center;
    float:left;
    margin-left: 500px;
    letter-spacing:-5px;
    margin-top: 2%;
    
}

.clear{
    clear:both
}

#topNavBar {
    width:960px;
    margin:0 auto;
    height:115px;
    cursor: pointer;
    font: normal 24px/14px 'SteelfishExtraBold', impact, helvetica, sans-serif;
    text-transform: uppercase;
}



::-moz-selection {
background: #fcd700;
color: #fff;
text-shadow: none;
}
::selection {
    background: #fcd700;
    color: #fff;
    text-shadow: none;
}

.scroll:link {
    -webkit-tap-highlight-color: #fcd700;
    -moz-transition: all 0.2s ease-in 0s;
    -webkit-transition: all 0.2s ease-in 0s;
    text-decoration: none;
}
ins {
    background-color: #fcd700;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #fcd700;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
#wrapper {
    width:100%;
    overflow:hidden;
}

#nav-outter {
    width:100%;
    background:url(../images/nav-bg.png) left top repeat-x;
    position:fixed;
    top:-30px;
    z-index:80;
}
#topNavBar a {
    color:#4a5c66;
    text-decoration:none;
    display:inline-block;
    margin-top:27px;
    height:30px;a
}
#topNavBar a:hover {
    color:#e6a51d
}



#topNavBar a.active{
    color:#e6a51d;
}

#topNavBar .left a {
    margin-right: 10px;
}
#topNavBar .right a {
    margin-left: 10px;

}
#date_nav{
    left: 50%;
   padding-right: 10px;
   padding-left: 10px;

}

