 
.nav_logic {
width:950px;
margin:0 auto;
list-style:none;
padding-top: 0px;
padding-bottom: 10px;
background: transparent;

}
.nav_logic img
{
	width: 45px;
	background: transparent;
}
.nav_logic li {
float:left;
padding-top: 10px;
padding-bottom: 10px;
}
.nav_logic a {
display:block;
text-align:center;
width:150px; /* fixed width */
text-decoration:none;
font: 25px Amatic SC; 

}
.nav_logic p{
	display:block;
text-align:center;
width:150px; /* fixed width */
text-decoration:none;
font: 25px Amatic SC; 
}




