	.row{
		    margin: 4% 0%;
	}
	@media screen and (max-width: 768px) {
   .col-xs-12{
		 margin: 4% 0%;
	}
}
	
  	img{
		width:55%;
		margin:0 auto;
	}
	body::-webkit-scrollbar {
display: none;
}

.float {
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	width: 23%;
	height: 100%;
	left: 100%;
	top: 0%;
	background-color: #e6e6e6;
	z-index: 100;
	transition: all .3s ease-in-out;
}
.box {
	position: absolute;
	width: 100%;
	left: 0%;
	height: 9.55%;
	font-size: 145%;
	text-align: center;
	cursor: pointer;
	background-color: #e6e6e6;
	color: #222;
}
#box1 {
	top: 0%;
	height: 14%;
	background-color: #202020;
	color: #aaa;
	font-size: 300%;
	font-family: 'maleficent';
	letter-spacing: 2px;
}
#box2 {
	top: 14%;
}
#box3 {
	top: 23.55%;
}
#box4 {
	top: 33.1%;
}
#box5 {
	top: 42.65%;
	font-size: 140%;
}
#box6 {
	top: 52.2%;
}
#box7 {
	top: 61.75%;
}
#box8 {
	top: 71.3%;
}
#box9 {
	top: 80.85%;
}
#box10 {
	top: 90.4%;
}
.hamburger {
	top: 0%;
	position: fixed;
	right: 0%;
	width: 3%;
	z-index: 101;
	cursor: pointer;
}
#filler {
	position: fixed;
	top: 0%;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 99;
	opacity: 0.7;
}
</style>
<style type="text/css">
#nav-toggle {
	position: absolute;
	left: 50%;
	top: 50%;
}
#nav-toggle {
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 4px;
	width: 40px;
	background: #aaa;
	position: absolute;
	display: block;
	content: '';
}
#nav-toggle span:before {
	top: -10px;
}
#nav-toggle span:after {
	bottom: -10px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	transition: all 0.3s ease-in-out;
}
#nav-toggle.active span {
	background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}
#nav-toggle.active span:before {
	transform: rotate(45deg);
}
#nav-toggle.active span:after {
	transform: rotate(-45deg);
}
.contain {
	position: absolute;
	top: 2%;
	right: 1%;
	height: 5%;
	width: 8%;
}
.box {
	display: table;
}
.box span {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.box:hover {
	background-color: #aaa;
}
